div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
kbd {
    min-width: 0;
    letter-spacing: .15rem;
    border-right: .15rem solid white;
    margin: 0 auto;
    padding-right: 0;
    padding-left: .3rem;
    font-family: monospace;
    font-size: 1rem;
    &[role="template"] {
        display: none;
    }
    &:not([role="template"]) {
        overflow: hidden;
        white-space: nowrap;
        animation-delay: 0;
        animation: 
            typewriter 3s infinite linear,
            blink .5s infinite alternate;
    }
    &:after {
        content: "";
        animation-delay: 0;
        animation: spin infinite;
        animation-duration: 12s;
        animation-timing-function: step-end;
    }
}
@keyframes typewriter {
    0%, 100% { width: 0 }
    20%, 80% {width: 100%}
}
@keyframes blink {
    from {border-right-color: white}
    to {border-right-color: transparent}
}
@keyframes spin {
    0% {content: "Computer Scientist"}
    25% {content: "Physicist"}
    50% {content: "Engineer"}
    75% {content: "Videographer"}
    100% {content: "Computer Scientist"}
}