@import 'open-props/style';
@import 'open-props/colors-hsl';

:root {
	--font-size-fluid-4: clamp(3rem, 9vw, 4.5rem);
	--size-0: 0.1rem;
	/* --bg-col: hsl(var(--stone-4-hsl) / 30%); */
	--bg-col: var(--sand-0);

	font-family: var(--font-system-ui);
}

main {
	position: absolute;
	top: var(--size-9);
	left: 0;

	height: calc(100vh - var(--size-9));
	width: 100vw;

	background-color: var(--bg-col);
}

h1 {
	font-weight: var(--font-weight-8);
	font-size: var(--font-size-fluid-3);
	letter-spacing: var(--font-letterspacing-2);
}

h2 {
	font-size: var(--font-size-fluid-1);
	font-weight: var(--font-weight-6);
}

h1,
h2,
h3,
p {
	margin: 0;
}

.prose {
	p {
		:not(:is(h2, h3, h4, h5, h6) + p) {
			margin-top: var(--size-7);
		}

		/* ignore paragraph tag around images */
		&:has(img) {
			display: contents;
		}
	}

	:is(h2, h3, h4, h5, h6) {
		margin-top: var(--size-8);
		margin-bottom: var(--size-3);
	}

	:is(ul, ol) {
		margin-top: var(--size-00);
		padding-left: var(--size-5);
	}

	:is(ul, ol) li {
		margin-block: var(--size-2);
		padding-inline-start: var(--size-2);
	}

	pre {
		max-inline-size: 100%;
		padding: var(--size-3);
		border-radius: 8px;
		tab-size: 2;
	}
}
