@import 'open-props/style';
@import 'open-props/colors-hsl';

:root {
	--font-size-fluid-4: clamp(3rem, 9vw, 4.5rem);
	--bg-col: var(--sand-0);

	font-family: var(--font-system-ui);

	background-color: var(--bg-col);
}

main {
	position: absolute;
	top: var(--size-9);
	left: 0;

	width: 100vw;

	background-color: transparent;
}

h1 {
	font-weight: var(--font-weight-8);
	font-size: var(--font-size-fluid-3);
	letter-spacing: var(--font-letterspacing-2);
}

h2 {
	font-size: var(--font-size-fluid-1);
	font-weight: var(--font-weight-6);
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

.prose {
	p {
		/* margin-top: var(--size-00); */
		margin-bottom: var(--size-1);

		/* ignore paragraph tag around images */
		&:has(img) {
			display: contents;
		}
	}

	img {
		width: 100%;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		margin-top: var(--size-4);
		margin-bottom: var(--size-1);
		font-weight: var(--font-weight-6);
	}

	h1 {
		font-size: var(--font-size-fluid-2);
	}

	:is(ul, ol) {
		margin-top: var(--size-00);
		padding-left: var(--size-5);
	}

	:is(ul, ol) li {
		margin-block: var(--size-2);
		padding-inline-start: var(--size-2);
	}

	pre {
		max-inline-size: 100%;
		padding: var(--size-3);
		border-radius: 8px;
		tab-size: 2;
		overflow: scroll;
	}

	iframe {
        width: 100%;
        height: calc(100vh - var(--size-10));
        border: none;
    }

	.video-container {
		overflow: hidden;
		position: relative;
		width:100%;
	}
	
	.video-container::after {
		padding-top: 56.25%;
		display: block;
		content: '';
	}
	
	.video-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin-top: var(--size-3);
		margin-bottom: var(--size-3);
	}
}