/* Variables and mixins declared here will be available in all other SCSS files */
$primary-300: #00d4bf;
$primary-400: #00beab;
$primary-500: #009688;
$primary-600: #00897b;
$primary-700: #00796b;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$layout-color: var(--layout-color);

:root {
    --layout-color: #f8f8f8;
    &[data-theme="dark"]{
        --layout-color: #2b2a2a;
    }
}

@mixin media($keys...){
    @each $key in $keys { 
      @media (min-width: map-get($breakpoints, $key)){
        @content
      } 
    }
}