/* Variables and mixins declared here will be available in all other SCSS files */
$primary-300: #00d4bf;
$primary-400: #00beab;
$primary-500: #009688;
$primary-600: #00897b;
$primary-700: #00796b;

$gray: rgb(248, 248, 248);

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin media($keys...){
    @each $key in $keys { 
      @media (min-width: map-get($breakpoints, $key)){
        @content
      } 
    }
}